button {
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: #fcd34d;
    color: white;
  }

  &.outline {
    border: 2px solid #fcd34d;
    background-color: white;
  }

  &.normal {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid transparent;
  }
}
