<button
  [ngClass]="buttonClasses"
  [class]="
    'text-lg font-bold rounded-lg w-full h-auto mt-0 flex items-center justify-center gap-2 transition-all duration-300 ease-in-out p-3 sm:p-4 ' +
    (isActive ? 'transform hover:scale-105 cursor-pointer' : '')
  "
  [disabled]="!isActive"
>
  <img *ngIf="imageSrc" [src]="imageSrc" [alt]="imgAlt" class="w-5 h-5" />
  <span *ngIf="iconName" class="material-icons text-lg mr-2">{{ iconName }}</span>
  <span class="text-base sm:text-sm md:text-base lg:text-lg">
    {{ translateKey && translateKey.length > 0 ? t(translateKey) : label }}
  </span>
</button>
