<button
  [ngClass]="{
    'bg-transparent text-[#ffffff] border-yellow-500 border-2': isOutline,
    'bg-yellow-500 text-white': isActive && !isOutline,
    'bg-transparent text-[#ffffff] hover:bg-[#1C212D] hover:text-neutral-light06 focus:border-brand-medium focus:border-0 focus:bg-[#2b303b] focus:text-neutral-light06 active:text-neutral-light06 active:bg-[#2b303b] active:border-0':
      !isActive && !isOutline
  }"
  class="text-lg font-bold rounded-lg w-full h-auto mt-0 flex items-center justify-center gap-2"
  [disabled]="!isActive"
  (click)="(!isActive ? null : null)"
>
  <img *ngIf="imageSrc" [src]="imageSrc" [alt]="imageAlt" class="w-5 h-5" />

  <span *ngIf="iconName" class="material-icons text-lg mr-2">{{ iconName }}</span>

  <span>{{ label }}</span>
</button>
