<button
  [ngClass]="buttonClasses"
  [class]="
    'text-lg font-bold rounded-lg w-full h-auto mt-0 flex items-center justify-center gap-2 p-3 sm:p-4 select-none relative overflow-hidden' +
    (isActive ? ' cursor-pointer' : ' cursor-not-allowed')
  "
  [disabled]="!isActive"
  [attr.aria-label]="translateKey && translateKey.length > 0 ? t(translateKey) : label"
  (click)="onClick()"
>
  <img *ngIf="imageSrc" [src]="imageSrc" [alt]="imgAlt" class="w-5 h-5 transition-all duration-300" />
  <span *ngIf="iconName" class="material-icons text-lg mr-2 transition-transform duration-300">{{ iconName }}</span>
  <span class="text-base sm:text-sm md:text-base lg:text-lg transition-all duration-300 font-semibold">
    {{ translateKey && translateKey.length > 0 ? t(translateKey) : label }}
  </span>
</button>
