<form [formGroup]="customerForm" class="flex flex-col gap-6 max-w-lg mx-auto p-6 min-h-screen">
  <!-- Paso del formulario -->
  <app-step-indicator [step]="1" [total]="4"></app-step-indicator>

  <!-- Título de sección -->
  <app-section-title
    icon="description"
    title="Información Básica"
    subtitle="Empecemos con los datos principales"
  ></app-section-title>

  <!-- Tarjeta de formulario -->
  <div class="p-0 rounded-xl shadow-sm flex flex-col gap-5">
    <app-input-field
      label="Nombre de Usuario*"
      icon="restaurant"
      placeholder="Ej: Restaurante El Sabor Criollo"
      formControlName="name"
    ></app-input-field>

    <app-input-field
      label="Correo Electrónico*"
      icon="email"
      type="email"
      placeholder="contacto@mirestaurante.com"
      formControlName="email"
    ></app-input-field>

    <app-input-field label="DNI*" icon="badge" placeholder="12345678" formControlName="dni"></app-input-field>

    <app-select-field
      label="Provincia*"
      icon="location_on"
      placeholder="Selecciona tu provincia"
      [options]="provinciaOptions"
      formControlName="provincia"
    ></app-select-field>

    <app-select-field
      label="Distrito*"
      icon="place"
      placeholder="Selecciona tu distrito"
      [options]="distritoOptions"
      formControlName="distrito"
    ></app-select-field>
  </div>

  <!-- Botón de acción -->
  <div class="mt-4">
    <app-button [label]="'Continuar'" [isActive]="true" [isOutline]="false" (click)="onSubmit()"></app-button>
  </div>
</form>
