.landing-diner {
  min-height: 100vh;
}

::ng-deep {
  .bg-gradient-food {
    background: linear-gradient(135deg, #ff6b00 0%, #ffb800 100%);
  }

  .text-gradient-food {
    background: linear-gradient(135deg, #ff6b00 0%, #ffb800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .shadow-food {
    box-shadow:
      0 20px 25px -5px rgba(255, 107, 0, 0.1),
      0 10px 10px -5px rgba(255, 107, 0, 0.04);
  }
}
