<div>
  <img src="img/background_almuerza_peru.png" alt="Fondo"
    class="absolute inset-0 w-full h-full object-cover opacity-100" />
  <div class="relative min-h-screen">
    <button mat-icon-button (click)="goBack()"
      class="absolute top-4 left-4 z-50 bg-white bg-opacity-70 hover:bg-opacity-100 rounded-full shadow-md transition duration-300"
      aria-label="Volver">
      <mat-icon class="text-gray-800">arrow_back</mat-icon>
    </button>
    <div class="flex items-end sm:items-center justify-center min-h-[95vh]">
      <div
        class="bg-white bg-opacity-80 rounded-lg px-4 py-6 sm:px-4 sm:py-6 md:px-4 md:py-6 lg:px-8 lg:py-10 shadow-lg w-full max-w-lg z-10 gap-6 flex flex-col justify-between sm:h-3/4 lg:h-1/2">
        <h1 class="text-center text-3xl font-bold mb-6 text-gray-800 uppercase sm:text-3xl md:text-4xl lg:text-5xl">
          <span class="text-black mr-2">ALMUERZOS</span>
          <span class="text-brand-yellow">PERÚ</span>
        </h1>

        <p class="text-center text-gray-600 text-xl sm:text-lg md:text-2xl lg:text-3xl mb-6 uppercase">
          Encuentra tu <span class="font-bold">menú diario</span>, ¡sin perder tiempo!
        </p>

        <div class="flex flex-col gap-4">
          <app-button [label]="'Empezar'" [isActive]="true" [isOutline]="false"> </app-button>

          <div class="flex items-center my-6">
            <hr class="flex-grow border-2 border-gray-300" />
            <span class="mx-4 text-gray-600 uppercase font-medium">OR</span>
            <hr class="flex-grow border-2 border-gray-300" />
          </div>

          <app-button [label]="'Ingresar con Google'" [isActive]="true" [isOutline]="true" [iconName]="'email'">
          </app-button>

          <app-button [label]="'Continuar con Facebook'" [isActive]="true" [isOutline]="true" [iconName]="'facebook'">
          </app-button>
        </div>

        <div class="text-center mt-12">
          <a href="#" (click)="goBack()" class="text-gray-600 hover:text-gray-800 uppercase font-medium">Registrarme
            luego</a>
        </div>
      </div>
    </div>
  </div>
</div>
