.bg-gradient-to-r {
  background: linear-gradient(to right, #eab308, #92400e);
}

.bg-gradient-to-r.from-yellow-400 {
  background: linear-gradient(to right, #eab308, #78350f);
}

.bg-black\/10 {
  background-color: rgba(0, 0, 0, 0.1);
}
